<?xml version="1.0"?>
<config>
    <modules>
        <AV_Productimport>
            <version>1.0.0</version>
        </AV_Productimport>
    </modules>
    <global>
        <blocks>
            <av_productimport>
                <class>AV_Productimport_Block</class>
            </av_productimport>
        </blocks>
        <models>
            <av_productimport>
                <class>AV_Productimport_Model</class>
            </av_productimport>
        </models>
         <template>
            <email>
                <result module="av_productimport">
                    <label>Order Payment Notify Mail</label>
                    <file>sales/result.html</file>
                    <type>html</type>
                </result>
            </email>
        </template>
        
    </global>
    <crontab>
        <jobs>
            <av_productimport_importer>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>av_productimport/observer::run</model>
                </run>
            </av_productimport_importer>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <av_productimport>
                    <file>av_productimport.xml</file>
                </av_productimport>
            </updates>
        </layout>
    </frontend>
</config>