<?xml version="1.0"?>
<config>
    <modules>
        <AV_Productimport>
            <version>1.0.0</version>
        </AV_Productimport>
    </modules>
    <global>
        <models>
            <av_productimport>
                <class>AV_Productimport_Model</class>
            </av_productimport>
        </models>
        <events>
            <admin_system_config_changed_section_tab1>
                <observers>
                    <av_productimport>
                        <type>singleton</type>
                        <class>av_productimport/importer</class>
                        <method>main</method>
                    </av_productimport>
                </observers>
            </admin_system_config_changed_section_tab1>
        </events>
    </global>
    <default>
        <csvupload>
            <general>
                <!--<text_field>Default value</text_field>
                <textarea></textarea>
                <dropdown>key2</dropdown>
                <multiple_dropdown>key1,key2</multiple_dropdown>
                <time>11,30,45</time>
                <active>0</active>
                <boolean>1</boolean>
                <dependant_text_field>Default value</dependant_text_field>-->
            </general>
        </csvupload>
    </default>
    <frontend>
        <routers>
            <av_productimport>
                <use>standard</use>
                <args>
                    <module>AV_Productimport</module>
                    <frontName>test</frontName>
                </args>
            </av_productimport>
        </routers>
        <layout>
            <updates>
                <av_productimport>
                    <file>av_productimport.xml</file>
                </av_productimport>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <av_productimport>
                <class>AV_Productimport_Block</class>
            </av_productimport>
        </blocks>
    </global>
</config>