<?xml version="1.0"?>
<config>
    <tabs>
        <upload_tab translate="label">
            <label>AV Productimport</label>
            <sort_order>150</sort_order>
        </upload_tab>
    </tabs>
    <sections>
        <upload translate="label" module="adminhtml">
            <label>Upload</label>
            <tab>upload_tab</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>General</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[CSV Upload here]]></comment>
                    <fields>
                        <file translate="label comment">
                            <label>File</label>
                            <comment><![CDATA[File saved in <strong><span style="color: red;">var/uploads</span></strong> folder.]]></comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir>var/uploads</upload_dir>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </file>
                        <tomail translate="label comment">
                            <label>Report to</label>
                            <comment><![CDATA[Who should receive the e-mail?]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tomail>
                    </fields>
                </general>
            </groups>
        </upload>
    </sections>
</config>